h1 {
    font-family: arial, verdana, sans-serif;
    background-color: #0CA4F2;
    color: white;
    margin-bottom: 60px;
    text-align: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 10px;

}

h2{
    /* margin-left: 20px; */
}

body {
    width: 700px;
    font-family: arial, verdana, sans-serif;
}

.continue-button{
    text-align: center;
}
 
 
.continue-button button{
    padding: 10px;
    width: 100px;
    margin-top: 60px;color: white;
background-color: #0CA4F2;
border: none;
border-radius: 20px;
}

.continue-button button:hover{
    background-color: blue;
}

input {
    background-color: #0CA4F2;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px;

}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 1rem;  
    font-family: sans-serif;


}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    flex-direction: column;
    justify-content: space-between;
}


form{
    margin-left: 10px;

}

.input-check{
  margin-bottom: 20px;
  text-indent: 0px;
}

select{
    background-color:#0CA4F2;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px;
    width: 190px;
}

.input-check input {
    display: none; 
   
}
 
.input-check input+ label:before{
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid gray;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 5px;
}
 
.input-check input:checked + label::before{
     background-color: #0CA4F2;
    }